/*-- Start Media queries --*/
/*-- 480px --*/
@media (min-width: 0rem) and (max-width: 37.4375rem) {

}

        /*-- 768px --*/
@media (min-width: 37.5rem) and (max-width: 61.6875rem) {
    .group440{
        background: transparent url('../assets/img/heads.png') no-repeat padding-box;
        background-size: 55% 95%;
        background-position: 50% 390%;
    }
    .arrows{
        margin: 0 0 0 40%;
    }
}

        /*-- 1279px --*/
@media (min-width: 61.75rem) and (max-width: 79.9375rem) {
    .hidden{
        display: block;
    }
    .visible{
        display: none;
    }
    .group440{
        background: transparent url('../assets/img/headphones.png') no-repeat padding-box;
        background-size: 150% 105%;
        background-position: -45%;
    }
    .headphones{
        margin-left: 35%
    }
    .newOff{
        margin-left: 35%;
    }
    .textHidden{
        width: 18.75rem;
        height: 6.5625rem;
        font-family: var(--family-roboto);
        font-style: var(--style-normal);
        font-weight: var(--weight-normal);
        font-size: var(--fontS);
        line-height: var(--line-spacing-L);
        color: black;
        margin-top: 11%;
        margin-left: 35%;
    }
    .components{
        margin-left: 85%; 
        margin-top: 15%; 
        align-items: center;
    }
    .arrows{
        margin-top: 10%;
        margin-left: 65%;
    }
    .group435 > .related > img{
        top: 57.0625rem;
        left: 20.4375rem;
        width: 20.3125rem;
        height: 7.5rem;
    }
    .buyy{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .footer{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        margin-top: -0.5%;
    }
    .footer > .rectangles{
        width: 65%;
        height: 43vw;
      /*  background: transparent url(../assets/img/men2.png) padding-box no-repeat;
        background-size: 95% 95%;
        background-position: 390% 150%; */
    }
    .rectangles > .rectangle25 > .eye{
        margin-top: 14%;
    }
    .footer >.rectangles >  .rectangle25 > p{
        width: 18.75rem;
        height: 8.875rem;
        font-size: var(--fontS);
        line-height: var(--line-spacing-L);
        text-align: left;
        color: #000000;
    }
    .footer > .skills{
        width: 35%;
        height: 43vw;
    }
    .footer > .skills > h1{
        margin-top: 6%;
        margin-left: 8%;
    }
    .footer > .skills > p{
        width: 15.625rem;
        height: 9.6875rem;
        font-size: var(--fontS);
        line-height: var(--line-spacing-L);
        text-align: left;
        margin-left: 8%;
    }
}

        /*-- 1280+px --*/
@media (min-width: 80rem) and (max-width: 187.5rem){
    .hidden{
        display: block;
    }
    .visible{
        display: none;
    }
    .group440{
        background: transparent url('../assets/img/headphones.png') no-repeat padding-box;
        background-size: 140% 105%;
        background-position: -45%;
    }
    .headphones{
        margin-left: 35%
    }
    .newOff{
        margin-left: 35%;
    }
    .textHidden{
        width: 18.75rem;
        height: 6.5625rem;
        font-family: var(--family-roboto);
        font-style: var(--style-normal);
        font-weight: var(--weight-normal);
        font-size: var(--fontS);
        line-height: var(--line-spacing-L);
        color: black;
        margin-top: 11%;
        margin-left: 35%;
    }
    .components{
        margin-left: 85%; 
        margin-top: 15%; 
        align-items: center;
    }
    .arrows{
        margin-top: 10%;
        margin-left: 50%;
    }
    .group435 > .related > img{
        top: 57.0625rem;
        left: 20.4375rem;
        width: 20.3125rem;
        height: 7.5rem;
    }
    .buyy{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .footer{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        margin-top: -0.5%;
    }
    .footer > .rectangles{
        width: 65%;
        height: 30vw;
       /* background: transparent url(../assets/img/men2.png) padding-box no-repeat;
        background-size: cover;
        background-position: center;*/
    }
    .rectangles > .rectangle25 > .eye{
        margin-top: 14%;
    }
    .footer >.rectangles >  .rectangle25 > p{
        width: 27.1875rem;
        height: 8.875rem;
        font-size: var(--fontM);
        line-height: var(--line-spacing-XL);
        text-align: left;
        color: #000000;
    }
    .footer > .skills{
        width: 35%;
        height: 30vw;
    }
    .footer > .skills > h1{
        margin-top: 7%;
        margin-left: 8%;
    }
    .footer > .skills > p{
        width: 26.125rem;
        height: 9.6875rem;
        font-size: var(--fontM);
        line-height: var(--line-spacing-XL);
        text-align: left;
        margin-left: 8%;
    }
}
  /*----------End Media Queries-----*/

        