/*-- Start Media queries --*/
      /*-- 768px --*/
@media (min-width: 37.5rem) and (max-width: 61.6875rem) {
    .group440{
        background: transparent url('../assets/img/heads.png') no-repeat padding-box;
        background-size: 55% 95%;
        background-position: 50% 390%;
    }
    .arrows{
        margin-left: 40%;
    }
    .footer > .rectangles > .icon{
        margin: 12% 63%;
    }
}

        /*-- 1279px --*/
@media (min-width: 61.75rem) and (max-width: 79.9375rem) {
    .hidden{
        display: block;
    }
    .visible{
        display: none;
    }
    .group440{
        background: transparent url('../assets/img/headphones.png') no-repeat padding-box;
        background-size: 150% 105%;
        background-position: -45%;
    }
    .headphones{
        margin-left: 35%
    }
    .newOff{
        margin-left: 35%;
    }
    .textHidden{
        width: 18.75rem;
        height: 6.5625rem;
        line-height: var(--line-spacing-L);
        color: black;
        margin: 11% 0 0 35%;
    }
    .components{
        margin: 15% 0 0 85%;
        align-items: center;
    }
    .arrows{
        margin: 25% 0 0 60%;
    }
    .group435 > .related > img{
        margin: 3% 2%;
        width: 20.3125rem;
        height: 7.5rem;
    }
    .buyy{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .footer{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        margin-top: -2.1%;
    }
    .footer > .rectangles{
        width: 65%;
        height: 35vw;
        background: transparent url('../assets/img/men2.png') no-repeat padding-box;
        background-size: cover;
        background-position: 80% 30%;
    }
    .rectangles::before{
        content: "";
        background: linear-gradient(to bottom, #299FB3B8, #00FFE6B8, #3AFCE900);
        width: 65%;
        height: 23vw;
    }
    .footer >.rectangles > p{
        width: 40%;
        height: 8.875rem;
        font-size: var(--fontM);
        line-height: var(--line-spacing-L);
        letter-spacing: .0225rem;
        text-align: left;
        color: #000000;
    }
    .footer > .skills{
        width: 35%;
        height: 35vw;
    }
    .footer > .skills > h1{
        margin-top: 6%;
        margin-left: 8%;
    }
    .footer > .skills > p{
        width: 15.625rem;
        height: 9.6875rem;
        font-size: var(--fontM);
        line-height: var(--line-spacing-L);
        letter-spacing: .0225rem;
        text-align: left;
        margin-left: 8%;
    }
}

        /*-- 1280+px --*/
@media (min-width: 80rem) and (max-width: 187.5rem){
    .hidden{
        display: block;
    }
    .visible{
        display: none;
    }
    .group440{
        background: transparent url('../assets/img/headphones.png') no-repeat padding-box;
        background-size: 140% 105%;
        background-position: -45%;
    }
    .headphones{
        margin-left: 35%
    }
    .newOff{
        margin-left: 35%;
    }
    .textHidden{
        width: 18.75rem;
        height: 6.5625rem;
        line-height: var(--line-spacing-L);
        color: black;
        margin-top: 11%;
        margin-left: 35%;
    }
    .components{
        margin-left: 85%; 
        margin-top: 15%; 
        align-items: center;
    }
    .arrows{
        margin-top: 10%;
        margin-left: 50%;
    }
    .group435 > .related > img{
        margin: 3% 2%;
        width: 20.3125rem;
        height: 7.5rem;
    }
    .buyy{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .footer{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        margin-top: -1.9%;
    }
    .footer > .rectangles{
        width: 65%;
        height: 35vw;
        background: transparent url('../assets/img/men2.png') no-repeat padding-box;
        background-size: cover;
        background-position: 80% 30%;
    }
    .rectangles::before{
        content: "";
        background: linear-gradient(to bottom, #299FB3B8, #00FFE6B8, #3AFCE900);
        width: 65%;
        height: 23vw;
    }
    .footer >.rectangles > p{
        width: 42%;
        height: 8.875rem;
        font-size: var(--fontM);
        line-height: var(--line-spacing-XL);
        letter-spacing: .0225rem;
        text-align: left;
        color: #000000;
    }
    .footer > .skills{
        width: 35%;
        height: 35vw;
    }
    .footer > .skills > h1{
        margin-top: 7%;
        margin-left: 8%;
    }
    .footer > .skills > p{
        width: 26.125rem;
        height: 9.6875rem;
        font-size: var(--fontL);
        line-height: var(--line-spacing-XL);
        letter-spacing: .0225rem;
        text-align: left;
        margin-left: 8%;
    }
}
  /*----------End Media Queries-----*/

        