/*-- Start Media queries --*/
/*-- 480px --*/
@media (min-width: 0rem) and (max-width: 37.4375rem) {

}

        /*-- 768px --*/
@media (min-width: 37.5rem) and (max-width: 61.6875rem) {

}

        /*-- 1279px --*/
@media (min-width: 61.75rem) and (max-width: 79.9375rem) {
    .hidden{
        display: block;
    }
    .visible{
        display: none;
    }
    .group440{
        background: transparent url('../assets/img/headphones.png') no-repeat padding-box;
    }
    .group435 > .related > img{
        top: 57.0625rem;
        left: 20.4375rem;
        width: 20.3125rem;
        height: 7.5rem;
    }
    .buyy{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .footer{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        margin-top: -1%;
    }
    .footer > .rectangle25{
        width: 60%;
    }
    .footer > .skills{
        width: 40%;
    }
}

        /*-- 1280+px --*/
@media (min-width: 80rem) and (max-width: 187.5rem){
    .hidden{
        display: block;
    }
    .visible{
        display: none;
    }
    .group440{
        background: transparent url('../assets/img/headphones.png') no-repeat padding-box;
    }
    .group435 > .related > img{
        top: 57.0625rem;
        left: 20.4375rem;
        width: 20.3125rem;
        height: 7.5rem;
    }
    .buyy{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .footer{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        margin-top: -1%;
    }
    .footer > .rectangle25{
        width: 60%;
    }
    .footer > .skills{
        width: 40%;
    }
}
  /*----------End Media Queries-----*/

        