*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors: */
    --light-green: #29E6A2;
    --green: #2EFE7C;
    --aqua: #3AFCE9;
    --light-blue: #299FB3;
    --dark-blue: #234154;
    --dark-gray: #414141;
    
    /* Font/text values */
    --family-roboto: Roboto;
    --style-normal: normal;
    --weight-normal: normal;
    --weight-bold: bold;
    --fontS: 12px;
    --fontM: 14px;
    --fontL: 18px;
    --fontXL: 32px;
    --fontXXL: 46px;
    --unnamed-character-spacing-0: 0px;
    --line-spacing-S: 16px;
    --line-spacing-M: 17px;
    --line-spacing-L: 24px;
    --line-spacing-XL: 43px;
    --line-spacing-XXL: 60px;
    }
    
    /* Character Styles */
    .styleFont1 {
    font-family: var(--family-roboto);
    font-style: var(--style-normal);
    font-weight: var(--weight-normal);
    font-size: var(--fontS);
    line-height: var(--line-spacing-M);
    letter-spacing: var(--unnamed-character-spacing-0);
    }
    .styleFont3 {
    font-family: var(--family-roboto);
    font-style: var(--style-normal);
    font-weight: var(--weight-bold);
    font-size: var(--fontL);
    line-height: var(--line-spacing-L);
    letter-spacing: var(--unnamed-character-spacing-0);
    }
    .styleFont4 {
    font-family: var(--family-roboto);
    font-style: var(--style-normal);
    font-weight: var(--weight-bold);
    font-size: var(--fontXL);
    line-height: var(--line-spacing-XL);
    letter-spacing: var(--unnamed-character-spacing-0);
    }
    .styleFont5 {
    font-family: var(--family-roboto);
    font-style: var(--style-normal);
    font-weight: var(--weight-bold);
    font-size: var(--fontXXL);
    line-height: var(--line-spacing-XXL);
    letter-spacing: var(--unnamed-character-spacing-0);
    }

body{
    background-color: #F6F6F6;
}
.container{
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    overflow-x: hidden;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
}
.hidden{
    display: none;
}
.visible{
    display: block;
}
.col-50{
    width: 50%;
}
.nav-li{
    list-style: none;
    margin: 0 5%;
    font-family: var(--family-roboto);
    font-size: var(--fontM);
    line-height: var(--line-spacing-S);
    text-decoration: none;
}


/*--- Navbar Style ---*/
.header{
    margin: 2% 0;
    padding: 3%;
    justify-content: space-between;
}

/*--- Navbar Style ---*/


/*--- Rectangulo 3 Style ---*/
.rectangle3{
    background-color: #FBFBFB;
    margin-top: 1.5625rem;
    margin-left: 2%;
    width: 18.875rem;
    height: 2.125rem;
}
.rectangle3 > nav > ul{margin-left: -23%;}
.rectangle3 > nav > ul > li > a{text-decoration: none; color: var(--dark-blue);}
.active{
    background-color: var(--aqua);
    padding: 0.6875rem;
    border-radius: 0.625rem;
    font-weight: var(--weight-bold);
    line-height: var(--line-spacing-S);  
}
/*--- Rectangulo 3 Style ---*/


/*--- Div Headphones Style ---*/
.group440{
    mix-blend-mode: normal;
    align-items: flex-start;
    background: transparent url('../assets/img/heads.png') no-repeat padding-box;
    background-size: 100% 100%;
    background-position: center 5rem;
    height: 31.875rem;
}
.headphones{
    margin-top: 9%;
    margin-left: 2%
}
.headphones > div > h2{
    color: var(--dark-blue);
}
.heart{
    top: 10.625rem;
    left: 19.875rem;
    position: absolute;
}
.new{
    margin-left: 5%;
    width: 2.125rem;
    height: 1.3125rem;
    color: var(--light-blue);
    font-family: var(--family-roboto);
    border: 0.0625rem solid var(--light-blue);
    text-align: center;
}
.off{
    margin-left: 5%;
    width: 90px;
    height: 1.3125rem;
    color: var(--light-green);
}

.components{margin-left: 73%; margin-top: 80%; align-items: center;}
.components > a{
    transform: matrix(0, -1, 1, 0, 0, 0);
    text-decoration: none;
    margin: 40% 0;
    color: var(--dark-blue);
}
.arrows{
    margin: 55% 0 0 60%;
}
/*--- Div Headphones Style ---*/


/*--- Div Group435 Style ---*/
.group435{
    justify-content: flex-end;
}
.group435 > .related > img{
    top: 43.9375rem;
    left: 1.5rem;
    width: 12rem;
    height: 4.6875rem;
}
.group435 > .buyNow > a > img{
    position: fixed;
    bottom: 0rem;
    right: 0rem;
    z-index: 1500;
}
.group435 > .buyy{
    width: 40%;
    height: 6.9375rem;
    background-color: var(--light-green);
    border-radius: 1.875rem 0rem 0rem 0rem;
    justify-content: flex-start;
    align-items: center;
    padding: 1%;
}
.group435 > .BackToTop{
    transform: matrix(0, -1, 1, 0, 0, 0);
    background: var(--dark-gray) no-repeat padding-box;
    width: 6.375rem;
    height: 1.375rem;
    position: fixed;
    bottom: 3.5rem;
    right: 0rem;
    z-index: 100;
    text-align: center;
}
.group435 > .BackToTop > a > h5{
    padding: 3%;
    text-decoration: none;
    color: #FFFFFF;
    font-size: var(--fontM);
    font-family: var(--family-roboto);
    font-style: var(--style-normal);
    font-weight: var(--weight-bold);
    line-height: var(--line-spacing-M);
}
/*--- Div Group435 Style ---*/


/*--- Footer Style ---*/
.footer{
    margin-top: 10%;
}
.footer > .rectangle25{
    width: 100%;
    background: linear-gradient(to bottom, var(--light-blue), var(--aqua));
    z-index: 1000;
    padding: 10%;
    font-family: var(--family-roboto);
}
.footer > .rectangle25 > h1{
    color: var(--dark-blue);
}
.footer > .rectangle25 > p{
    font-size: var(--fontS);
    text-align: left;
    color: #FFFFFF;
    line-height: var(--line-spacing-S);
}
.footer > .rectangle26{
    background: linear-gradient(to bottom, var(--aqua), #3AFCE900);
    height: 9.1875rem;
    margin-top: -0.3%;
    z-index: 1000;
}
.icon{
    margin-left: 56.5%;
    position: absolute;
}
.imgMen{
    margin-top: -47%;
    margin-left: -27%;
}
.footer > .skills{
    background-color: var(--dark-blue);
    width: 100%;
    height: 22.125rem;
    font-family: var(--family-roboto); 
}
.footer > .skills > h1{
    color: var(--green);
    margin: .5625rem 0 0 1.25rem;
}
.footerIcons{
    width: 100%;
    justify-content: space-around;
    margin-top: 1.5625rem;
}
.footerIcons > a > img{
    width: 1.5625rem;
    height: 1.5625rem;
}
.footerIcons > a > .refresh{height: 1.25rem;}
.footerIcons > a > .refresh{width: 1.5rem; height: 1.5rem;}
.footer > .skills > p{
    width: 9.125rem;
    height: 4.875rem;
    color: #FFFFFF;
    letter-spacing: 0.0075rem;
    margin-top: 2.1875rem;
    margin-left: 1.25rem;
}
/*--- Footer Style ---*/